body {
    background-color: #212121;
}

#resume {
    margin: 0 auto;
    background-color: #EEEEEE;
    width: 80%;
    padding: 10px 20px;
}
hr {
    border-style: dashed none none;
    border-color: white;
    border-width: 5px;
    width: 50%;
}     

h1 {
    color: #0D7377;
}

h3 {
    background-color: #32E0C4;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.skills-table {
    width: 100%;
    table-layout: fixed;
}